doctype html
html
  include partials/head.pug
  link(rel='stylesheet' type='text/css' href='/styles/cart.css')
  script(defer src='/javascripts/cart.js')


  body
    include partials/navbar.pug
    .content-wrapper
      .main
        section.cart 
            if cart
                if cart.cartItems.length === 0
                    h1 Your cart is empty
                    p Add items to your cart and buy them quickly and conveniently.

                else if cart.cartItems.length > 0
                    h1 Your cart
                    .cart-items 
                        each item in cart.cartItems
                            .cart-item
                                .item-top
                                    img(src=`${item.product.imageUrl[0]}` alt='product image')
                                    .item-info 
                                        p.title #{item.product.name}
                                        p.category #{item.product.subcategory.charAt(0).toUpperCase() + item.product.subcategory.slice(1)}
                                    i.fas.fa-trash-alt.fa-2x.remove-item(data-item-id=`${item._id}`)

                                .item-bottom
                                    .change-amount
                                        i.far.fa-arrow-alt-circle-left.fa-lg.quality-down(data-product-id=`${item.product._id}`)
                                        b.item-quantity #{item.quantity}    
                                        i.far.fa-arrow-alt-circle-right.fa-lg.quality-up(data-product-id=`${item.product._id}`)
                                    p.price Price: 
                                        b #{`${item.product.price.value.toFixed(2)} ${item.product.price.currency}`}
                    .order-summary
                        .subtotal 
                            p.subtotal Subtotal: 
                            b #{cart.subTotal.toFixed(2)} PLN
                        .shipping
                            p.shipping Shipping: 
                            b 20 PLN
                        hr
                        .total
                            p.total Total: 
                            b #{(cart.subTotal + 20).toFixed(2)} PLN
                    button.btn-green.checkout Checkout
            else if !cart 
                h1 Failed to load cart

    include partials/footer.pug