doctype html
html
  include partials/head.pug
  link(rel='stylesheet' type='text/css' href='/styles/products.css')
  script(defer src='/javascripts/products.js')


  body
    include partials/navbar.pug
    .content-wrapper
      .main
        if !products.length
          h1  Could not load the products 
        else if products.length 
          h1  Our products
          section.product-cards
              each product in products
                .product-card
                  img(src=`${product.imageUrl[0]}`)
                  p.product-name 
                    b #{product.name}
                  p.product-name #{product.subcategory.toUpperCase()}
                  p.price #{product.price.value.toFixed(2)} #{product.price.currency}
                  .product-buttons
                    //- button.btn-green.buy-now Buy now
                    button.btn-dark.add-to-cart(data-product-id=`${product._id}`) Add to cart
                      i.fa.fa-shopping-cart.fa-lg(style="margin-left: 0.5rem;")
                    //- button.fav 
                    //-   i.far.fa-star.fa-2x 
          hr

          .advantages
            .advantage
              i.fas.fa-medal.fa-7x 
              p Highest quality
            .advantage
              i.fas.fa-clock.fa-7x
              p Quick delivery
            .advantage
              i.fas.fa-undo.fa-7x
              p 30 days to return
            .advantage
              i.fas.fa-box.fa-7x
              p Free delivery
              b above $200
            .advantage
              i.fas.fa-leaf.fa-7x
              p 100% Eco
              
            
    include partials/footer.pug